
/* some gloabal classes of this file */
.btn{
    padding: 10px 20px;
    font-size: 15px;
    font-weight: 600;
    color: var(--txt1);
    background: var(--bg2);
    border: none;
    outline: none;
    cursor: pointer;
    border-radius: 5px;
}

main{
    padding: 10px;
}
/*====================
Our Employees Table Section styling
======================*/
.our-employees-table-container{
    /* border: 3px solid red; */
}
.our-employees-table-container header{
    height: 50px;
    background: var(--bg2);
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}
.our-employees-table-container header h1{
    margin: 0;
    color: var(--txt1);
}
.buttons-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.our-employees-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

.our-employees-table, .our-employees-table th, .our-employees-table td {
    border: 1px solid black;
    padding: 8px;
    text-align: left;
}

.our-employees-table th{
    background-color: #f2f2f2;
}

.popup{
    position: absolute;
    top: -150%;
    left: 50%;
    opacity: 0;
    transform: translate(-50%,-50%) scale(1.25);
    width: 380px;
    padding: 20px 30px;
    background: var(--bg1);
    box-shadow: 2px 2px 5px 5px rgba(0,0,0,0.15);
    border-radius: 10px;
    transition: top 0ms ease-in-out 200ms,
                opacity 200ms ease-in-out 0ms,
                transform 200ms ease-in-out 0ms;
}
.active-popup{
    top: 50%;
    opacity: 1;
    transform: translate(-50%,-50%) scale(1); 
    transition: top 0ms ease-in-out 0ms,
                opacity 200ms ease-in-out 0ms,
                transform 200ms ease-in-out 0ms;
}
.popup .close-btn{
    position: absolute;
    top: 10px;
    right: 10px;
    width: 20px;
    height: 20px;
    background: var(--bg2);
    display: flex;
    place-content: center;
    align-items: center;
    color: red;
    border-radius: 15px;
    cursor: pointer;
}
.popup header{
    
}
.popup h2{
    text-align: center;
    color: #222;
    margin: 10px 0px 20px;
    font-size: 25px;
}
.popup .form .form-element{
    margin: 5px 0px;
}
.popup .form .form-element label{
    font-size: 14px;
    color: #222;
}
    .popup .form .form-element .input{
        display: block;
        width: 100%;
        margin-top: 5px;
        padding: 10px;
        outline: none;
        border: 1px solid var(--bg2);
        border-radius: 5px;
}
.saveBtn, .updateEmployeeBtn{
    width: 100%;
    height: 40px;
}